/* Header Styling */
.header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  
  z-index: 1000;
  color: var(--text-color);
  transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


