/* src/page/BuyNow.css */
.buy-now-container {
  padding-top: 20px;
  margin-top: 0 auto;
  border-radius: 8px;
}

.buy-now-form {
  display: flex;
  flex-direction: column;
}

.buy-now-form input,
.buy-now-form select {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.buy-now-form button {
  padding: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}

