/* src/page/BuyNow.css */
.buy-now-container {
  padding: 20px;
  margin-top: 0 auto;
  background: #f5f5f5;
  border-radius: 8px;
}

.buy-now-form {
  display: flex;
  flex-direction: column;
}

.buy-now-form input,
.buy-now-form select {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.buy-now-form button {
  padding: 10px;
  background-color: #1a73e8;
  color: white;
  border: none;
  cursor: pointer;
}
/* .buy-now-btn {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
} */
